<div class="listRow">
    <h5 class="expired tag">{{formatSequelDate expiration_date}}</h5>
    <h5>{{product_name}}</h5>
    <div class="break"></div>
    <h5 class="category">{{category.category_name}}</h5>
    <h5 class="deleteX" data-id="{{id}}">X</h5>
</div>