<body class="homeP"

<title class = "introPage">
    <h1 class="backG">Welcome</h1>
</title>

<article class="bodyText">
      <h3>
        Shelf-Life is an app that will benefit the user saving them time and money.
        The user will be able catalogue all the food items purchased and know ahead time 
        before that product expires. In turn the user can prepare chicken salad before their
        chicken beast expires.
      </h3>
</article>

{{!-- <div class = "toDO">
    <p>
        Shelf-Life is an app that will benefit the user saving them time and money.
        The user will be able catelog all the food item purchases and know ahead time 
        before that product expires. In turn the user prepare chicken salad before their
        chicken beast expires.
    </p>
</div> --}}

      <div class="howTo">How to use Shelf-Life </div>


    <div class = "addList">
        {{!-- <div>How to use Shelf-Life </div> --}}
    
        <ul>
            <li>Create a login profile</li>
            <li>Add food item </li>
            <li>Select which section to store food item</li>
            <li>Select date food item entered</li>
            <li>App will alert user a week prior before item expires</li>
        </ul>
    </div>
    
</body>